---
layout: post
title: 3point Science
---
<html>
    <head>
{% include header.html %}
{% include links.html %}
<h3>3point Science</h3>
</head>
<body>
<div class="row marketing">
    <div class="col-sm-12">
		I am currently working at a Calgary-based company: <a href="http://3ptscience.com">3point Science</a>, a member of Aranz Geo.
        3point is the company behind the 3D data visualization app <a href="http://steno3d.com">Steno3D</a>
    </div>
</div>
<div class="row marketing">
<div class="col-sm-12">
<p>
<iframe src="https://steno3d.com/embed/Z4FkwDLyWfYkI3t0Nc9G " width="800px" height="600px"></iframe>
<br>
<ul>
</ul>
</p>
        </div>
</div>

</body>
</html>
