---
layout: post
title: Michael Firmin
---

<!DOCTYPE html>
<html>
    <head>
</head>
{% include header.html %}
{% include links.html %}
<body>
<div class="row marketing">
        <div class="col-sm-5">
          <h4>Email</h4>
          <p>
              <a href="mailto:mcfirmin@gmail.com">mcfirmin@gmail.com</a><br>
          </p>
        </div>
        <div class="col-sm-7" style="left: 100px">
          <h4>Links</h4>

          <p>
          <a href="https://github.com/mfirmin">github</a> |
          <a href="https://www.linkedin.com/in/michael-firmin-5b431a4b">linkedin</a> |
          <a href="mfirmin_resume.pdf">resume</a>
          </p>
        </div>
</div>
</body>
</html>
