---
layout: post
title: Michael Firmin
---

<!DOCTYPE html>
<html>
    <head>
</head>
{% include header.html %}
{% include links.html %}
<body>
<div class="row marketing">
        <div class="col-sm-5">
          <h4>Email</h4>
          <p>
              <b>Personal:</b> <a href="mailto:mcfirmin@gmail.com">mcfirmin@gmail.com</a><br>
              <b>Work:</b> <a href="mailto:michael.firmin@seequent.com">michael.firmin@seequent.com</a>
          </p>

          <h4>Links</h4>

          <p>
          <a href="http://github.com/mfirmin">github</a><br>
          <a href="mfirmin_resume.pdf">resume</a>
          </p>
        </div>
        <div class="col-sm-7" style="left: 100px">
          <h4>Address</h4>
          <p>
            Michael Firmin<br>
            Seequent<br>
            1167 Kensington Crescent NW - Suite 425<br>
            Calgary, AB T2N 1X7<br>
          </p>
        </div>
</div>
</body>
</html>
