---
layout: post
title: Michael Firmin
---

<!DOCTYPE html>
<html>
    <head>
</head>
{% include header.html %}
{% include links.html %}
<body>
<div class="row marketing">
    <h1>About Me</h1>
    <p>
    Hi, I'm Michael. I'm a Colorado native living in Calgary, Canada, and I'm interested in all things related to computer graphics.
    In addition to working as the Visualization Lead at the Calgary branch of <a href="http://www.seequent.com">Seequent</a>,
    I try to keep up on the latest in 3D Graphics through my <a href="projects.html">side projects</a>.
    </p>

    <p>
    For my MSc, I worked under <a href="http://www.cs.ubc.ca/~van">Michiel van de Panne</a>
    on <a href="research.html">physics based character animation</a>, creating a simple scripting language to
    control the motion of a 2D humanoid character.
    </p>

    <p>
    On the side, I enjoy <a href="http://www.kneeknacker.com">trail running</a>, playing piano, reading, climbing, and baking.
    </p>
</div>
</body>
</html>
