---
layout: post
title: Michael Firmin
---

<!DOCTYPE html>
<html>
    <head>
</head>
{% include header.html %}
{% include links.html %}
<body>
<div class="row marketing">
    <h1>About Me</h1>
    <p>
    Hi, I'm Michael. I moved to Vancouver from Colorado three years ago to pursue my MSc in Computer Science 
    at the University of British Columbia. I am interested in all things related to computer graphics. Having completed my MSc, I am currently working at a startup company, 
    <a href="3pt.html">3point Science</a>. 3point focuses on interactive science visualization, trying to bring 
    complex scientific concepts to the web in an easily accessible, interactive form.

    <p>
    For my MSc, I worked under <a href="http://www.cs.ubc.ca/~van">Michiel van de Panne</a>
    on <a href="research.html">physics based character animation</a>, creating a simple scripting language to
    control the motion of a 2D humanoid character.
    </p><p>
    I'm hoping to use this website to show off some of my <a href="projects.html">projects</a> that I have done both for courses and in my spare time.
    </p>

    <p>
    On the side, I enjoy <a href="http://www.kneeknacer.com">trail running</a>, playing piano, reading, climbing, and baking.
    </p>

    <h2>Other Links</h2>
    
    <a href="http://github.com/mfirmin">github</a>
    </p>
</div>
</body>
</html>
