---
layout: post
title: Projects
---
<html>
    <head>
</head>
{% include header.html %}
{% include links.html %}

<body>

<h3>Projects</h3>
<div class="row marketing">
        <div class="col-sm-4">
	 <center> <a href="glslRaytracer"><img src="img/mir11.png" style="width: 70%;"/>
         <h4>Raytracing</h4></center></a>
        </div>
        <div class="col-sm-4">
	 <center> <a href="atmospheric-scattering"><img src="img/atmospheric-scattering.png" style="width: 70%;"/>
         <h4>Atmospheric Scattering</h4></center></a>
        </div>
        <div class="col-sm-4">
	 <center> <a href="glsl-function-grapher"><img src="img/surface.png" style="width: 70%;"/>
         <h4>3D Function Grapher</h4></center></a>
        </div>
</div>
<div class="row marketing">
        <div class="col-sm-4">
	 <center> <img src="img/bonsai.png" style="width: 70%;"/>
         <h4>Surface Renderer</h4></center>
        </div>
        <div class="col-sm-4">
	 <center> <img src="img/smoke1.png" style="width: 70%;"/>
         <h4>Smoke Simulation</h4></center>
        </div>
</div>
</body>
</html>
