---
layout: post
title: Michael Firmin
---

<html>
    <head>
    </head>
{% include header.html %}
{% include links.html %}
<body>
    <h3>Publications</h3>

<div class="row marketing">
    <div class="col-sm-12">
      <ul>
        <li>
          <a href="http://onlinelibrary.wiley.com/doi/10.1111/cgf.12607/abstract">Controller Design for Multi-Skilled Bipedal Characters</a><br>
          Paper, Computer Graphics Forum, May 2015<br>
        </li>
        <li>
          <a href="http://circle.ubc.ca/handle/2429/51128">Design and Integration of Controllers for Simulated Characters</a><br>
          MSc Thesis, UBC, Nov 2014<br>
        </li>
        <li>
          Towards a Control Language for Authoring Humanoid Motion<br>
          Poster, Dynamic Walking, Jun 2014<br>
        </li>
      </ul>
    </div>
</div>
    <h3>MSc Research</h3>
<div class="row marketing">
<div class="col-sm-12">
For my Master's thesis, I designed and implemented a simple scripting language to help facilitate the creation of motion controllers for physically simulated humanoid characters.
</div>
</div>
<div class="row marketing">
<div class="col-sm-12" align="center">
<iframe width="560" height="315" src="//www.youtube.com/embed/I_HuTPeSLsY" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-sm-12" align="left"><br>
<p>
I've done some initial work on porting</a> the system to javascript, so anyone can play around with it in a web browser.
The source code for that can be found <a href="https://github.com/mfirmin/coach.js">here</a>. I've used this system to implement the SIMBICON <a href="https://mfirmin.github.io/SimbiconJS">walk controller</a> in the browser.
</p>
</div>
</div>
<div class="row marketing">
<div class="col-lg-12" align="left">
</div>
</div>
</body>
</html>

