---
layout: post
title: Work
---
<html>
    <head>
{% include header.html %}
{% include links.html %}
<h3>Work</h3>
</head>
<body>
<div class="row marketing">
    <div class="col-sm-12">
		After finishing my MSc, I joined up as the first hire of 3point Science, a startup focusing on 3D data visualization.
        In March 2016, the company was acquired by <a href="http://www.seequent.com">Seequent</a> (formerly ARANZ Geo), a New Zealand based company
        which is known for the Leapfrog Geo 3D modeling software.
        Our team has pioneered the cloud solution for Seequent, Leapfrog View, as well as the publicly available version <a href="http://steno3d.com">Steno3D</a>.
    </div>
</div>
<div class="row marketing">
<div class="col-sm-12">
<p>
<iframe src="https://steno3d.com/embed/Z4FkwDLyWfYkI3t0Nc9G " width="800px" height="600px"></iframe>
<br>
<ul>
</ul>
</p>
        </div>
</div>

</body>
</html>
