<div class="container">
  <div class="header">
    <ul id="navbar" class="nav nav-pills pull-right">
      <li id="index"><a href="index.html">Home</a></li>
      <li id="projects"><a href="projects.html">Projects</a></li>
      <li id="research"><a href="research.html">Research</a></li>
      <li id="work"><a href="work.html">Work</a></li>
      <li id="contact"><a href="contact.html">Contact</a></li>
      <li id="blog"><a href="https://blog.mfirmin.ca">Blog</a></li>
    </ul>
    <h3 class="text-muted">Michael Firmin</h3>
  </div>
