
#info {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
}

#main {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
}

#grapher {

    position: absolute;
    width: 25%;
    height: 100%;
    left: 15%;

}

.ThreePanel {
    position: absolute;
    width: 100%;
    height: 100%;
}

#fninput {

    position: absolute;
    width: 25%;
    height: 100%;
    right: 20%;
}
